

@media screen and (max-width: 750px) {
  .shiro {
    width: 80vw;
    height: 50vh;
  }
}

/* .test2 .easter-egg
{
  display : none;
}
.test2 .defaut:hover {
  display: none;
}
.test2 .defaut:hover + .easter-egg {
  display: inline-block;
}

.easter-egg{
    font-size: 1.2rem;
    
} */

#auteur p{
    width: 58%;
}