@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron:wght@500&display=swap');
@import url('htpps://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    *{
  box-sizing:border-box; 
  outline:none;
    padding: 0;
    margin: 0;   
}
ul {
  list-style:none;
}
:root {
    --navbar-height: 8vh; /* Déclaration de la variable CSS pour la hauteur de la navbar */
    --font-size:1rem;
    }
.light-mode {
    --navbar-color: #ffffff;
    --navbar-bg-color: #F0F0F0;  
}


.navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:10px;
  font-size:1.1rem;
  background: #1b1f27;
    color: #fff;
  height: var(--navbar-height);
  min-height: 60px;
  box-shadow: 0 0 24px 0 rgba(0,0,0,.9);
  
}
.navbar__logo{
  animation: transi-head 1s ;

}
.navbar__logo a{
    text-decoration: none;
    color: var(--navbar-color);;
    font-family: 'Dancing Script', cursive;

}
.navbar__links { 
  display:flex;  
  z-index: 1;
  height: auto;
  animation: transi-head 1.5s ;

}
.navbar__link { 
  padding:0 10px;
}
.navbar__link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}
    .first-part-presentation{
        height: calc(100vh -  var(--navbar-height) );
        
        background: linear-gradient(180deg, #13151a 0%, #3c4b6e 100%);

}

    
    
   
    
#imageson{
    display: table;
    position: relative;
   
    width: 100%;
    /* background-color: bisque; */
    height: 500px;
}
#table-row{
    display: table-row;
    position: relative;
    
    
    
}
    #minia{
        display: table-cell;
        /* background-color: aqua; */
        width: 60%;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;

    }
.card{
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 55vw;
  max-width: 773px;
  overflow: hidden;
  display: inline-block;
}
.miniature{
    width: 100%;
    height: 100%;
    max-height: 440px;

clip-path: inset(0 100% 0 0);
animation: transimage 2s forwards;
animation-timing-function: cubic-bezier(0.82, 0.2, 0.2, 0.5);
transition: transform 0.4s ease-in-out;
transform: scale(1);
will-change: transform;

}
.card:hover .miniature{
transform: scale(1.1);
}

    .auteur{
        width: 40%;
        display: table-cell;
        /* background-color: rgb(170, 170, 235); */
        
        vertical-align: middle;
    }

    .auteur h2, .title {
        
        text-align: left;
        font-size: 3rem;
    }
    h1, h2 {
      overflow: hidden;
    }
    .title span{
      
      display: inline-block;
   

    }
    h2 > span{
      opacity: 0;
      display: inline-block;
      animation: titleFadeIn .5s ease-in-out forwards;
      animation-delay: .5s;
    }
    
    .auteur hr{
        text-align: center;
        position: relative;
        width: 51%;
        font-size: 3rem;
    }

.lune {
    position: relative;
    width: 170px;
    height: 170px;
    opacity: 0.2;
    top: 14%;
    right: 125%;
}

    #collaborateurs {
        display: table;
        width: 100%;
        position: relative;
        top: 7vh;
        /* background-color: bisque; */
        height: 100px;
        margin-bottom: 6rem;
        visibility: hidden;
    }
    #collaborateurs .collab1,
    #collaborateurs .collab2,
    #collaborateurs .collab3,
    #collaborateurs .collab4{
        display: table-cell;
        width: 25%;
        text-align: center;
        position: relative;
        /* background-color: rgb(243, 154, 154); */
        vertical-align: middle;
    }

    #collaborateurs button{
        width: 45%;
        text-align: center;
        height: 50px;
        background-color: black;
        border: none;
        min-width: 250px;
        border-radius: 10px;
    }
    #collaborateurs button:hover {
      
      transform: scale(1.05);
        /* grossissement de l'image */
        transition: 0.5s ease-in-out;
        /* temps pendant lequel ca grossit */
    opacity: 0.8;
    }
    #collaborateurs a{
        display: table-cell;
        text-decoration: none;
        color: #afb8ff;
        height: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 25px;
    }
    .title{
opacity: 0;
  font-weight: 800;
  
  font-size:120px;
  background: url("../ASSETS/voie\ lactée\ bleue.jpg")  repeat;
  background-size: 110%;
  background-position: 20% 30%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position:relative;
  line-height:90px;
  
      animation: titleFadeIn .5s ease-in-out forwards;
      animation-delay: 0s;
  
}
.second-part-presentation{
  height: 100vh;
  background: rgb(249,142,237);
background: linear-gradient(180deg, #3c4b6e 0%, #214191 100%);
}   
.lyrics{
  background: rgb(143,22,129);
  background: linear-gradient(180deg, #214191 0%, #89aaff 100%);
  padding-top: 50px;
}

  
#Textintro {
        display: table;
        position: relative;
        width: 100%;
        padding-top: .1rem;
        /* obliger de rajouter ce padding pour que l'anim ne commence pas dès le chargement de la page */
    }
    #description{
        display: table-cell;
        text-align: justify;
        font-size: 1rem;
        letter-spacing: .5px;
line-height: 25px;
visibility: hidden;

    }
    #description a {
         display: inline-block;
         margin: 0 01px;
         font-size: 0.8em;
         color: red;
         letter-spacing: 5px;
         line-height: 5px;
     }
    
#vide1,#vide2{
    display: table-cell;
    width: 30%;
    /* background-color: bisque; */
}

    #vidéo{
        position: relative;
        display: table;
        
        width: 100%;
        
        /* background-color: blue; */
      padding-top: 50px;
    }
#vide_vidéo1,
#vide_vidéo2{
    display: table-cell;
    width: 25%;
}
#aperçu{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    visibility: hidden;
}
   /* vidéo youtube */
#aperçu iframe{
        
        width: 43vw;
        height: 51vh;   
        min-width: 600px;
        min-height: 450px;
    }


#paroles,#paroles2,#paroles1,#paroles3{
display: table;
position: relative;
width: 100%;



        
    }
#introson{
display: table-cell;
height: 100px;
font-size: 1rem;
text-align: right;
vertical-align: top;
width: 48%;
z-index: 2;
    }


#refrain{
display: table-cell;
height: 100px;
font-size: 1rem;
text-align: left;
vertical-align: bottom;
    }


#couplet1 {
display: table-cell;
height: 100px;
font-size: 1rem;
text-align: right;
vertical-align: top;
width: 48%;
    }

#refrain2{
display: table-cell;
height: 100px;
font-size: 1rem;
text-align: left;
vertical-align: bottom;
    }

#couplet2{
display: table-cell;
height: 100px;
font-size: 1rem;
text-align: right;
vertical-align: top;
width: 48%;
    }

#prerefrain{
display: table-cell;
height: 100px;
font-size: 1rem;
text-align: left;
vertical-align: middle;
    }


#refrain3{
display: table-cell;
height: 100px;
font-size: 1rem;
text-align: center;
vertical-align: middle;
    }

#blanc{
display: table-cell;
width: 4%;
    }
    @media screen and (max-width: 1500px) {
        .lune{
            display: none;
        }
        #introson,#refrain,#couplet1,#refrain2,#couplet2,#prerefrain{
            font-size: 1vw;
        }
    }
    @media screen and (max-width: 1250px) {
        .title{
            font-size: 60px;
        }
        
        #aperçu iframe{
    
            width: 50vw; 
            height: 35vw;
            min-width: 0px;
            min-height: 0px;
        }
    }

    @media screen and (max-width: 1050px) {

#minia img{
    max-width: 350px;
    max-height: 292px;
}
.lune {
   display: none;
}
.lyrics{
    padding-top: 80px;
}

#collaborateurs button {
    min-width: 180px;
}
#collaborateurs a{
    font-size: 18px;
}
#vide1,#vide2{
    width: 25%;
}
#vide_vidéo1,#vide_vidéo2{
    width: 25%;
}
#aperçu iframe{
    
    width: 50vw; 
    height: 35vw;
    min-width: 0px;
    min-height: 0px;
}
#vide_vidéo1 .vide1,
#vide_vidéo1 .vide2,
#vide_vidéo1 .vide3,
#vide_vidéo2 .vide1,
#vide_vidéo2 .vide2,
#introson img,
#refrain img,
#couplet1 img,
#refrain2 img,
#prerefrain img,
#refrain3 img,
#couplet2 img
{
    width: 0px;
}
#introson{
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
font-size: 2.3vw;
}
#refrain{
display: block;
text-align: center;
height: auto;

width: 100%;
font-size: 2.3vw;
}

#vidéo{
padding-bottom: 50px;
position: relative;
display: table;

width: 100%;
padding-top: 50px;
height: auto;
}

#couplet1{
display: block;
text-align: center;
height: auto;

width: 100%;
font-size: 2.3vw;
}

#refrain2{
display: block;
text-align: center;
height: auto;

width: 100%;
font-size: 2.3vw;
}


#couplet2{
display: block;
text-align: center;
height: auto;

width: 100%;
font-size: 2.3vw;
}

#prerefrain{
display: block;
text-align: center;
height: auto;

width: 100%;
font-size: 2.3vw;
}


#refrain3{
display: block;
text-align: center;
height: auto;

width: 100%;
font-size: 2.3vw;
}



#blanc{
display: block;
width: 100%;
}
#paroles,#paroles2,#paroles1,#paroles3{
padding-bottom: 0px;
}
.second-part-presentation{
    height: 85vh;
}

}   
@media screen and (min-width:768px) {
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:rgb(255, 255, 255);
    transition:width .4s;
    
  }
  .navbar__link:hover > a::after {
    width:100%;
  }
}
@media screen and (max-width: 750px) {
  .title{
    line-height: 50px;
  }

    .navbar__links { 
      overflow:hidden;
      display:flex;
      flex-direction:column;
      width:0;
      /* height:calc(100vh - 65px);   */
      height: auto;
      position:absolute;
      top: 7.8vh;
      right:0;     
      background:#1b1f27;     
      transform: translateX(110%);
      transition: all .5s ease-in-out;
      /* box-shadow: 0px 28px 30px 0 rgb(255, 255, 255); */
    }
    .show-nav .navbar__links { 
      
      width:100vw;    
      transform: translateX(0);
    } 
    .navbar__link {    
      transform: translateX(101%);
      transition: all .5s ease-in-out;
      font-family: 'Dancing Script', cursive;
    }
    
    .show-nav .navbar__link  {        
      transform: translateX(0);    
    }   
    .navbar__link > a {
      display:block;
      padding:1rem;
      font-size:1.6rem;
      color:var(--navbar-color);  
      transition: all .4s ease-in-out;
      
    }
    .navbar__link > a:hover {
      padding-left:2rem;
      letter-spacing:5px;
    }
    
    /* Toggle menu */
    .burger {
      display:block;
      position:relative;
      padding:0;
      width:45px;
      height:45px;
      border:none;
      background:transparent;
      cursor:pointer;
    }
    .bar {
      display:block;    
      width:45px;
      height:4px;  
      border-radius:3px;
      background:rgb(255, 255, 255); 
      transition: all .5s ease-in-out;   
    }
    .bar::before, .bar::after {
      content:"";
      width:45px;
      height:4px;
      position:absolute; 
      left:0;  
      background:rgb(255, 255, 255); 
      border-radius:3px;    
      transition: all .5s ease-in-out;
    }
    .bar::before {
      transform:translateY(-12px)
    }
    .bar::after {
      transform:translateY(12px)
    }
    .show-nav .bar {
      width:0;
      background:transparent;    
    }
    .show-nav .bar::before {
      transform:rotate(45deg);
    }
    .show-nav .bar::after {
      transform:rotate(-45deg);
    }
    
    /* Bonus - Animations */
    .show-nav .first {      
      transition: all 1.0s ease-out;
    } 
    .show-nav .second {      
      transition: all 1.2s ease-out;
    }
    
  
  /* ****si je rajoute des liens**** */
  /* .show-nav .third {      
    transition: all 1.3s ease-out;
  }  */
    /* .show-nav .four {      
      transition: all 1.3s ease-out;
    } 
    .show-nav .fifth {      
      transition: all 1.4s ease-out;
    } */
    .title, .auteur h2{
      font-size: 2em;
    }
    #collaborateurs {
      margin-top: 2rem;
    }
    #collaborateurs button {
    min-width: 90px;
}
    #minia{
          width: 100%;
          display: block;
          margin-left: auto;
  margin-right: auto;    
      }
      #minia img{
          min-width: 210px;
  max-height: 225px;
  margin-top: 30px;
      }
  
      #imageson, 
      #table-row {
          display: block;
          height: 350px;
      }
      .auteur {
          display: block;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
      }
      .auteur p{
          font-size: 1.3rem;
          justify-content: center;
          vertical-align: middle;
      }
      .auteur hr{
          width: 80%;
          
      }
      
  
      
      #collaborateurs a{
          font-size: 15px;
      }
      #vide1,#vide2{
          width: 11%;
      }
      #vide_vidéo1,#vide_vidéo2{
          width: 11%;
      }
      #aperçu iframe{
          height: auto;
          width: auto;
          min-width: 350px;
  min-height: 200px;
          
      }
      #vide_vidéo1 .vide1,
      #vide_vidéo1 .vide2,
      #vide_vidéo1 .vide3,
      #vide_vidéo2 .vide1,
      #vide_vidéo2 .vide2,
      #introson img,
      #refrain img,
      #couplet1 img,
      #refrain2 img,
      #prerefrain img,
      #refrain3 img,
      #couplet2 img
      {
          width: 0px;
      }
      
  }
 
  @media screen and (max-width: 1806px) {
      #vide_vidéo1 .vide1,
      #vide_vidéo1 .vide2,
      #vide_vidéo1 .vide3,
      #vide_vidéo2 .vide1,
      #vide_vidéo2 .vide2,
      #introson img,
      #refrain img,
      #couplet1 img,
      #refrain2 img,
      #prerefrain img,
      #refrain3 img,
      #couplet2 img
      {
          width: 0px;
      }
  }
  
  #collaborateurs.animate :nth-child(1){
  animation: titleFadeIn 1.05s both;
}

#collaborateurs.animate :nth-child(2){
  animation: titleFadeIn 1.05s .5s both;
}
#collaborateurs.animate :nth-child(3){
  animation: titleFadeIn 1.05s 1s both;
}
#collaborateurs.animate :nth-child(4){
  animation: titleFadeIn 1.05s 1.5s both;
}
#description.animate{
  animation: titleFadeIn 1.05s both;
}
#aperçu.animate{
  animation: titleFadeIn 1.05s both;
}
   