@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron:wght@500&display=swap');
@import url('htpps://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');







*{
    box-sizing:border-box; 
    outline:none;
      padding: 0;
      margin: 0;   
  }
  
  
  /* Variables */
  :root {
    --font-size:1rem;
    
  }
  .light-mode {
    --navbar-color: #222;
    --navbar-bg-color: #F0F0F0;  
  }
  .dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: rgb(26, 26, 26);  
  } 
  ul {
    list-style:none;
  }
    /* Basic style */
    body {
      margin:0;
      font-size:var(--font-size);
      font-family: 'Poppins', sans-serif;
      background-color: rgb(26, 26, 26);  
      color: rgb(200, 200, 200);
    }
    .main-content {
      padding:1rem;
    }
    .navbar {  
      display:flex;
      align-items:center; 
      justify-content:space-between;   
      padding:10px;
      font-size:1.1rem;
      background:var(--navbar-bg-color);
      color:var(--navbar-color);
      height: 8vh;
      box-shadow: 0 0 24px 0 rgba(0,0,0,.9);
    }
    
    .navbar__logo a{
        text-decoration: none;
        color: var(--navbar-color);;
        font-family: 'Dancing Script', cursive;
    }
    .navbar__links { 
      display:flex;  
      z-index: 1;
      height: auto;
      
    }
    .navbar__link { 
      padding:0 10px;
    }
    .navbar__link > a { 
      color:var(--navbar-color);
      text-decoration:none;
    }
    .burger {
      display:none;
    }
  
  
  
    #Textintro {
          display: table;
          position: relative;
          width: 100%;
          height: 400px;
          top: 70px;
          
      }
      #description{
          display: table-cell;
          text-align: justify;
          font-size: 1rem;
          letter-spacing: .5px;
  line-height: 25px;
      }
      #description a {
           display: inline-block;
           margin: 0 01px;
           font-size: 0.8em;
           color: red;
           letter-spacing: 5px;
           line-height: 5px;
       }
    #vide1,
    #vide2{
      display: table-cell;
  width: 30%;
    }
  
    
  
  
    #vidéo{
      position: relative;
  display: table;
  
  width: 100%;
  
  
    }
    #vide_vidéo1,
    #vide_vidéo2{
      display: table-cell;
  width: 25%;
    }
    #aperçu{
      position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
    }
    #aperçu iframe {
      width: 43vw;
      height: 51vh;
      min-width: 600px;
      min-height: 450px;
    }
    #paroles h4{
      font-family: 'Dancing Script', cursive;
      text-align:left;
      font-size:1.8em ;
      margin: 50px 15px 30px 110px;
      font-weight: 300;
      }
    #paroles p{
      padding: 30px 20% 50px;
      column-count: 2;
  }
  
  
  #mecontacter h2 {
      text-transform:capitalize;
      text-align: center;
      padding: 20px;
      font-size: 2rem ;
      }
  
  footer {
  
      background-color:#0f0f0f;
      color: #FFFAE1;
      padding: 20px 0px 20px 0px;
      text-align: center;
  
  }
  form {
      margin:0 auto;
      max-width: 900px;
  }
  
  .footer input, textarea, button {
      border: none;
      width: 60%;
      padding: 15px 10px;
      margin: 10px 0;
      font-size: 1.1em;
      font-family: "Advent Pro", sans-serif;
      border-radius: 8px;
  }
  textarea {
      height: 140px;
  }
  button {
      font-size: 1.3em;
      background-color:#FFFAE1;
  }
  button:hover {
      opacity: 0.8;
      transform: scale(1.01);
      transition: 0.4s ease-in-out;
      background-color:grey;
      color:black;
      cursor:pointer;
      transition: 0.3s ease-in-out;
  }
  #deuxiemeTrait {
      height: 1px;
      width: 75%;
      background-color: #FFFAE1;
      margin: 60px auto;
  }
  
  #copyrightEtIcons {
      display: flex;
      margin-bottom: 20px;
      /* marge par rapport au bas */
      padding: 0 10%;
      /* pour qu'ils soient collés chacun a leur coté */
  }
  #copyright {
      width: 50%;
      text-align: left;
      color: #FFFAE1;
  }
  #Icons {
      width: 50%;
      text-align: right;
  }
  
  #Icons a {
      display: inline-block;
      margin: 0 15px;
      font-size: 1.3em;
      color: red;
  }
  
  @media screen and (max-width: 1050px){
     
  #vide_vidéo1, #vide_vidéo2 {
    width: 25%;
  }
  #aperçu iframe {
      width: 40vw;
      height: 48vw;
    }
    #vide1,
    #vide2{
      
  width: 25%;
    }
    #vidéo{
    padding-bottom: 50px;
  position: relative;
  display: table;
  top: 70px;
  width: 100%;
  padding-top: 50px;
  height: auto;
  }
  }
  
  @media screen and (max-width: 750px){
    .navbar__links { 
      overflow:hidden;
      display:flex;
      flex-direction:column;
      width:0;
      /* height:calc(100vh - 65px);   */
      height: auto;
      position:absolute;
      top:50px;
      right:0;     
      background:var(--navbar-bg-color);     
      transform: translateX(110%);
      transition: all .5s ease-in-out;
      box-shadow: 0px 28px 30px 0 rgb(34, 34, 34);
    }
    .show-nav .navbar__links { 
      
      width:100vw;    
      transform: translateX(0);
    } 
    .navbar__link {    
      transform: translateX(101%);
      transition: all .5s ease-in-out;
      font-family: 'Dancing Script', cursive;
    }
    
    .show-nav .navbar__link  {        
      transform: translateX(0);    
    }   
    .navbar__link > a {
      display:block;
      padding:1rem;
      font-size:1.6rem;
      color:var(--navbar-color);  
      transition: all .4s ease-in-out;
      
    }
    .navbar__link > a:hover {
      padding-left:2rem;
      letter-spacing:5px;
    }
    
    /* Toggle menu */
    .burger {
      display:block;
      position:relative;
      padding:0;
      width:45px;
      height:45px;
      border:none;
      background:transparent;
      cursor:pointer;
    }
    .bar {
      display:block;    
      width:45px;
      height:4px;  
      border-radius:3px;
      background:var(--navbar-color); 
      transition: all .5s ease-in-out;   
    }
    .bar::before, .bar::after {
      content:"";
      width:45px;
      height:4px;
      position:absolute; 
      left:0;  
      background:var(--navbar-color); 
      border-radius:3px;    
      transition: all .5s ease-in-out;
    }
    .bar::before {
      transform:translateY(-12px)
    }
    .bar::after {
      transform:translateY(12px)
    }
    .show-nav .bar {
      width:0;
      background:transparent;    
    }
    .show-nav .bar::before {
      transform:rotate(45deg);
    }
    .show-nav .bar::after {
      transform:rotate(-45deg);
    }
    
    /* Bonus - Animations */
    .show-nav .first {      
      transition: all 1.0s ease-out;
    } 
    .show-nav .second {      
      transition: all 1.2s ease-out;
    }
  
  
  
    
  
      #aperçu iframe {
    height: auto;
    width: auto;
    min-width: 350px;
    min-height: 200px;
    
  }
  #vide_vidéo1, #vide_vidéo2 {
      width: 11%;
    }
    #vide1,
    #vide2{
      
  width: 20%;
    }
  }
  
  @media screen and (min-width:768px) {
    .navbar__link > a::after {
      display:block;
      content:"";
      width:0;
      height:1px;
      background:var(--navbar-color);
      transition:width .4s;
      
    }
    .navbar__link:hover > a::after {
      width:100%;
    }
  }