





/* Basic style */
body {
  background-color: rgb(26, 26, 26);  
  color: rgb(200, 200, 200);
}


/* Navbar */


@media screen and (max-width: 750px) {
    
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    /* height:calc(100vh - 65px);   */
    height: auto;
    position:absolute;
    top:50px;
    right:0;     
    background:var(--navbar-bg-color);     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
    box-shadow: 0px 28px 30px 0 rgb(34, 34, 34);
  }
}
    
    
   