@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


body {
    font-family: "Advent Pro", sans-serif;
    padding: 0;
    margin: 0;

}
ul {
    margin: 0;
    padding: 0;
    }
li {
    list-style-type:none;
}
h2 {
text-transform:capitalize;
text-align: center;
padding-top: 50;
font-size: 2em ;
}

header a {
text-decoration: none;
color:lightskyblue;

}

/* ************************************Navigation***************** */

#logo{

    font-family: 'Dancing Script', cursive;
    background-color: transparent;
    font-weight: bold;
    float:right;
    font-size: 1.4em;
    text-decoration: none;
    
    }

#contact{
    float: right;
    margin-left: auto;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4em;
}
header a {
    text-decoration: none;
    color:lightskyblue;
    padding: 5px 20px;
    
    }

header{
    background-image: url(https://cdn.discordapp.com/attachments/659765201666572298/921134577643323412/thumb-1920-632051.png);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    opacity: 0.8;
}

#logo {

font-family: 'Dancing Script', cursive;
font-weight: bold;
float:left;
}
header > a,
header button{
    background-color: transparent;
    color: lightskyblue;
    margin: 0 20px 0 0;
    font-size: 1.4em;
}
header button{
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}
header .dropdown{
    position: relative;
    height: 100%;
    display: flex;
}

header .dropdown .content{
    display: none;
}
header .dropdown:hover .content{
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    /* car height de 70 px dans le header */
    width: 150%;
    padding: 5px 10px;
    box-sizing:content-box;
    background-image: url(https://cdn.discordapp.com/attachments/659765201666572298/921134577643323412/thumb-1920-632051.png);
}
header .dropdown:hover .content a{
    color: lightskyblue;
    font-family: 'Orbitron', sans-serif;
}


.bouton {
    background-color: transparent;
    border: none;
    color: lightskyblue;
    font-family: "Advent Pro", sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4em;
    cursor: pointer;
  }

  .bouton:hover{
      background-color: transparent;
      
  }


/* ******************image principale********** */

#imagePrincipale {

padding-top: 100px;
background: url(https://images4.alphacoders.com/640/thumb-1920-640956.jpg) no-repeat fixed 50% 50%;
background-size:cover ;
/* pour que le fond couvre tout l'écran peut importe la taille de ce dernier et qu'il ne bouge pas (effet de style)  */
height: 799px;
}
 h1{
font-family: 'Orbitron', sans-serif;
text-align: center;
color: antiquewhite;
font-size: 55px;
margin-top: 110px;
 text-shadow: 10px 10px 4px black;
}

 #premierTrait{

height: 2px;
width: 15% ;
margin: -3px auto; 
/* auto=centrer */
background-color: antiquewhite;
box-shadow: 10px 10px 10px black;

 }
h3{
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 10px 10px 10px black;
   }  
    
   /* *************************Présentation************************* */
    

   #présentation{
       background-color:white;
       padding: 10px 0px 100px 0;
       /* espace entre le titre et le dessus  */
       font-family: 'Raleway', sans-serif;
    }
   #textIntro{
       padding: 0px 20%;
    }

    #citation{
        font-family: 'Dancing Script', cursive;
        text-align: center;
        color:crimson;
        font-size: 2em;
        padding: 5px 20%
    }

    #image{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .imageAMV h4 {
        font-family: 'Genos', sans-serif;
        text-align: center;
        font-size:2.0em ;
        margin: 15px;
        /* si on ne met qu'une valeur dans margin cela signifie que ca s'applique en haut en bas et a gauche/droite */
        font-weight: 3000;
    }
    
    .imageAMV img {
        border-radius: 00px;
        /* angle en haut/bas/gauche/droite */
        
        box-shadow: 0px 10px 13px -7px #000000, 19px 18px 27px -7px rgba(0,0,0,0.37);
    }

    .imageAMV img:hover {
        /* hover=survolage avec souris */
        opacity: 0.9;
/* opacité quand on survolle avec la souris */
        transform: scale(1.03);
        /* grossissement de l'image */
        transition: 0.4s ease-in-out;
        /* temps pendant lequel ca grossit */

    }

    #meconnaître{
        height: 340px;
        background-color: white;
        padding: 50px 2%;
        font-family: 'Raleway', sans-serif;
        text-align: center;

    }

    #meconnaître h2{
        font-size: 40px;
        font-style: italic;
    }

    /* ********************************FOTER********************* */

    footer {

        background-color:#524A3A;
        color: #FFFAE1;
        padding: 20px 0px 20px 0px;
        text-align: center;

    }
    form {
        margin:0 auto;
        max-width: 900px;
    }

    input, textarea, button {
        border: none;
        width: 60%;
        padding: 15px 10px;
        margin: 10px 0;
        font-size: 1.1em;
        font-family: "Advent Pro", sans-serif;
        border-radius: 8px;
    }
    textarea {
        height: 140px;
    }
    button {
        font-size: 1.3em;
        background-color:#FFFAE1;
    }
    button:hover {
        opacity: 0.8;
        transform: scale(1.01);
        transition: 0.4s ease-in-out;
        background-color:grey;
        color:black;
        cursor:pointer;
        transition: 0.3s ease-in-out;
    }
    #deuxiemeTrait {
        height: 1px;
        width: 75%;
        background-color: #FFFAE1;
        margin: 60px auto;
    }

    #copyrightEtIcons {
        display: flex;
        margin-bottom: 20px;
        /* marge par rapport au bas */
        padding: 0 10%;
        /* pour qu'ils soient collés chacun a leur coté */
    }
    #copyright {
        width: 50%;
        text-align: left;
        color: #FFFAE1;
    }
    #Icons {
        width: 50%;
        text-align: right;
    }

    #Icons a {
        display: inline-block;
        margin: 0 15px;
        font-size: 1.3em;
        color: red;
    
    }