.test2 .easter-egg
{
  display : none;
}

.test2:hover .defaut
{
  display : none;
}

.test2:hover .easter-egg
{
  display : initial;
}

.easter-egg{
    font-size: 0.7rem;
    
}
h1{
    font-size: 3rem;
margin-top: 4rem;

text-align: center;

left: 50%;
position: absolute;

left: 50%;
transform: translate(-50%, -50%);
}
#description{
    padding: 2rem;
}