@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');



*{
    
    padding: 0;
    margin: 0;   
}

#logo{

    font-family: 'Dancing Script', cursive;
    background-color: transparent;
    font-weight: bold;
    float:right;
    font-size: 1.4em;
    text-decoration: none;
    }

    #contact{
        float: right;
        margin-left: auto;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.4em;
    }
header a {
    text-decoration: none;
    color:lightskyblue;
    padding: 5px 20px;
    
    }

header{
    background-image: url(https://cdn.discordapp.com/attachments/659765201666572298/921134577643323412/thumb-1920-632051.png);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
}
 

header > a,
header button{
    background-color: transparent;
    color: lightskyblue;
    margin: 0 20px 0 0;
    font-size: 1.4em;
}
header button{
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}
header .dropdown{
    position: relative;
    height: 100%;
    display: flex;
}

header .dropdown .content{
    display: none;
}
header .dropdown:hover .content{
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    /* car height de 70 px dans le header */
    width: 150%;
    padding: 5px 10px;
    box-sizing:content-box;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/00ad1ac5-822e-4b20-946b-36c40aa5fac6/d5xom8c-cc14bfac-4831-4000-b46c-b46467d80796.png/v1/fill/w_1024,h_576,q_80,strp/kirito_wallpaper___sword_art_online_by_ivanpogi_d5xom8c-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvMDBhZDFhYzUtODIyZS00YjIwLTk0NmItMzZjNDBhYTVmYWM2XC9kNXhvbThjLWNjMTRiZmFjLTQ4MzEtNDAwMC1iNDZjLWI0NjQ2N2Q4MDc5Ni5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.233dDlQZTbiqXpQsHJRXG5UvN3m6v1orlx6Hx2MUNyc);
    opacity: 0.9;
    
}
header .dropdown:hover .content a{
    color: lightskyblue;
    font-family: 'Orbitron', sans-serif;
}


.bouton {
    background-color: transparent;
    border: none;
    color: lightskyblue;
    font-family: "Advent Pro", sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4em;
    cursor: pointer;
  }

  .bouton:hover{
      background-color: transparent;
      
  }
  





















    #présentation{
        background-color:white;
        padding: 10px 0px 100px 0;
        /* espace entre le titre et le dessus  */
     }
    #textIntro{
        padding: 100px 20% 10px;
     }
     #textIntro h1{
        font-family: 'Orbitron', sans-serif;
         text-align:left;
         font-size:2.5em ;
         margin: 15px;
         font-weight: 3000;
     }
     #textIntro a {
         display: inline-block;
         margin: 0 01px;
         font-size: 0.8em;
         color: red;
     }
     #paroles h4{
         font-family: 'Dancing Script', cursive;
         text-align:left;
         font-size:1.8em ;
         margin: 50px 15px 30px 110px;
         font-weight: 300;
         }
     
     #paroles p{
         padding: 30px 20% 50px;
         column-count: 2;
     }
 
     #image8 h4{
        font-family: 'Noto Serif JP', serif;
         text-align:center;
         font-size:1.8em ;
         margin: 15px;
         font-weight: 300;
         }
     #image8 img{
         width: 600px;
         height: 400px;
   display: block;
   margin-left: auto;
   margin-right: auto;;
     }
     #image8 img{
         border-radius: 20px;
         /* angle en haut/bas/gauche/droite */
         box-shadow: 13px 13px 11px -1px rgba(0,0,0,0.49);
     }
 
 
     
 
     #image8 img:hover {
         /* hover=survolage avec souris */
         opacity: 0.7;
         /* opacité quand on survolle avec la souris */
         transform: scale(1.05);
         /* grossissement de l'image */
         transition: 0.4s ease-in-out;
         /* temps pendant lequel ca grossit */
 
     }


     #vidéo{
        
        width: 600px;
         height: 400px;
   display: block;
   margin-left: auto;
   margin-right: auto;
margin-top: 15px;   
     }
 
     #meconnaître{
         height: 340px;
         background-color: #f1f2f6;
         padding: 100px 2%;
         font-family: 'Noto Serif JP', serif;
         text-align: center;
 
     }
 
     #meconnaître h2{
         font-size: 40px;
         font-style: italic;
     }
 
     /* ********************************FOTER********************* */
 
     #mecontacter h2 {
        text-transform:capitalize;
        text-align: center;
        padding: 20px;
        font-size: 2rem ;
        }

    footer {

        background-color:#524A3A;
        color: #FFFAE1;
        padding: 20px 0px 20px 0px;
        text-align: center;

    }
    form {
        margin:0 auto;
        max-width: 900px;
    }

    input, textarea, button {
        border: none;
        width: 60%;
        padding: 15px 10px;
        margin: 10px 0;
        font-size: 1.1em;
        font-family: "Advent Pro", sans-serif;
        border-radius: 8px;
    }
    textarea {
        height: 140px;
    }
    button {
        font-size: 1.3em;
        background-color:#FFFAE1;
    }
    button:hover {
        opacity: 0.8;
        transform: scale(1.01);
        transition: 0.4s ease-in-out;
        background-color:grey;
        color:black;
        cursor:pointer;
        transition: 0.3s ease-in-out;
    }
    #deuxiemeTrait {
        height: 1px;
        width: 75%;
        background-color: #FFFAE1;
        margin: 60px auto;
    }

    #copyrightEtIcons {
        display: flex;
        margin-bottom: 20px;
        /* marge par rapport au bas */
        padding: 0 10%;
        /* pour qu'ils soient collés chacun a leur coté */
    }
    #copyright {
        width: 50%;
        text-align: left;
        color: #FFFAE1;
    }
    #Icons {
        width: 50%;
        text-align: right;
    }

    #Icons a {
        display: inline-block;
        margin: 0 15px;
        font-size: 1.3em;
        color: red;
    
    }